body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
}

.row {
    padding: 5px;
}

.container {
    width: 400px;
    margin: 0 auto;
    display: block;
}

h2 {
    margin: 10px 0;
}

/* Display box for the results class */
.results {
    display: none;
    width: 400px;
    margin: 0 auto;
}

/* text */
.display {

    
}
